<footer class="w-full inset-x-0 bottom-0 flex-shrink-0 px-4">
<div>
  <span class="block text-center text-gray-800 text-sm font-light tracking-wide font-sans">
    &copy; Сайты 9Б Столинской государственной гимназии. Все права защищены.
    <Link to="https://docs.9bstolingymnasium.ml/">Политика конфедиальности</Link>{" "}
       
         <Link to="https://docs.9bstolingymnasium.ml/polzovatelskoe-soglashenie">Пользовательское соглашение </Link> {" "}
  </span>
</div>
</footer>
