<div class="w-full content-center text-center mb-16">
  <h1 class="font-bold tracking-widest text-3xl mb-2">Наши сайты</h1>
  <figure class="inline-block">
    <a href="https://www.9bstolingymnasium.ml">
      <img src="/img/icon-48x48.png" width="72" height="72" alt="EthCo" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Сайт 9Б Столинской государственной гимназии</span>
    <figcaption class="block text-lg font-normal italic">Наш главный сайт. На котором есть новости, обратные отсчеты до каникул и полезные сайты</span>
  </figure>
   <figure class="inline-block">
    <a href="https://books.9bstolingymnasium.ml">
      <img src="/img/https://ppm.edu.urfu.ru/media/uploads/10163/projects/%D0%9C%D0%B5%D1%82%D0%BE%D0%B4%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9_%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD_%D0%BD%D0%B0%D0%B2%D0%B8%D0%B3%D0%B0%D1%82%D0%BE%D1%80_%D1%81%D0%BE%D0%B2%D1%80%D0%B5%D0%BC%D0%B5%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D1%83%D1%87%D0%B8%D1%82%D0%B5%D0%BB%D1%8F.jpg" width="72" height="72" alt="EthCo" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Список литературы и домашнее задание</span>
  </figure>
   <figure class="inline-block">
    <a href="https://lib.9bstolingymnasium.ml">
      <img src="https://avatars.mds.yandex.net/i?id=8e8f8873867b29308c4cf43ad701d437-4055743-images-thumbs&n=13" width="72" height="72" alt="EthCo" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Библиотека 9Б Столинской государственной гимназии</span>
  </figure>
   <figure class="inline-block">
    <a href="https://foto.9bstolingymnasium.ml">
      <img src="" width="72" height="72" alt="EthCo" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Галерея 9Б Столинской государственной гимназии</span>
  </figure>
  <figure class="inline-block">
    <a href="https://news.9bstolingymnasium.ml">
      <img src="" width="72" height="72" alt="EthCo" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Новости 9Б Столинской государственной гимназии</span>
  </figure>
</div>
