<div class="w-full content-center text-center mb-16">
  <h1 class="font-bold tracking-widest text-3xl mb-2">Наши сайты</h1>
  <figure class="inline-block">
    <a href="https://www.9bstolingymnasium.ml">
      <img src="/img/icon-72x72.png" width="72" height="72" alt="EthCo" class="rounded-full ring-2 ring-black h-auto align-middle border-none inline m-1">
    </a>
    <figcaption class="block text-2xl font-medium">Сайт 9Б Столинской государственной гимназии</span>
    <figcaption class="block text-lg font-normal italic">Наш главный сайт. На котором есть новости, обратные отсчеты до каникул и полезные сайты</span>
  </figure>
</div>
